 
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
 
@import url('https://fonts.googleapis.com/css?family=Rubik');

body{
font-family: 'Work Sans', sans-serif;
  background: #16171B
}

.show-title, a{
  color: #fff;
}

.navbar-default .navbar-brand.logo{
  color: #06D6F8;
}

.navbar-default{
  border: none;
  background: #16171B;
}

.show-display-box{
   background: #191A1F;
   margin-bottom: 15px;
}

.show-display-box-1{
   background: #0B0C10;
   margin-bottom: 15px;
}

.show-box-title{
    position: absolute;
    padding: 10px;
  
}
.show-name{
  text-transform: uppercase;
  font-size: 18px;
}
.show-box-title p{
  line-height: 9px;
}
.show-box-title-clr{
 font-family: 'Rubik', sans-serif;
  color: #65666B;

}

.show-box-title-subclr{
  color:#07B3D7
}

.form-control1 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #16171B; 
    border: none; 
    border-color: #16171B;
} 
.form-control1:focus { 
   outline: none;
} 
 

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
   background-color: #16171B;  
    border: none;
    border-radius: 4px;
}

.show-title a:hover{
  color:#07B3D7
}

/* end new design*/

/*img{
border-radius: 10px;
}*/

.spinner{
    font-size: 50px !important;
    color: #06D6F8;
    position: absolute;   
    top: 50%;
    left: 50%;
   
}
.overlay{
    background: #16171B;          
    position: fixed;   
    top: 0;                   
    right: 0;               
    bottom: 0;
    left: 0;
    opacity: 0.7;
    z-index: 20;
}

 .title{
     color:#E5562E;
     -webkit-font-smoothing: antialiased;
 }
 .sub-title{
   color:#E5562E;
 }
 .episode{
     padding-left: 40px;
     padding-top: 10px;
     padding-top: 10px;
 }
 .seasonbr{
     font-weight: bold;
    display: block;
    margin-top: 20px;
 }

 .tr-grn{
    color: #449D44;
    font-size: 10px;
 }
 .poster-shadow{
   position: absolute;
    background: #000;
    width: 100px;
    height: 20px;
    display: block;
    margin: auto;
    bottom: 40px;
    right: 98px;   
    color: #fff;
    border-radius: 0px 0px 10px 10px;
 }

 .searchBar{
         margin-top: 8px;         
 }


 .searchBar .glyphicon{          
         top: 0px;
 }

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.episode .btn-group{
  margin-left: 70px;
}

.searchBar{
      margin-left: 20px;
    margin-right: 20px;
}