<div>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-7">
          <div class="navbar-header">
            <a class="navbar-brand logo" href="#" ng-click="loadShow('show/1')"> CINEMATIC</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="text-right searchBar">
            <form class="form-inline searchBar" ng-submit="searchShow()" name="searchfrm">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" autocomplete="off" class="search-control" ng-model="search" id=" search" placeholder="Search.." required
                  />
                  <div type="submit" ng-click="searchShow()" class="input-group-addon glyphicon glyphicon-search "></div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 txt-right">
          <div class="user" ng-click="logout()" ng-show="istraktId"> <span class="show-box-title-subclr"> Hi,</span> {{user}} <span class="glyphicon glyphicon-log-out show-box-title-subclr"> </span></div>
        </div>

      </div>
    </div>
  </nav>

  <ul class="nav nav-pills">
    <li><a ng-class="{active:isActive('/shows')}" href="#shows">SHOWS</a></li>
    <li><a ng-class="{active:isActive('/watchlist')}" href="#watchlist">WATCHLIST</a></li>
    <li><a ng-class="{active:isActive('/calendar')}" href="#calendar">CALENDAR</a></li>
  </ul>
</div>