<!-- search might have n number results so need to impliment load more options, api parameter contains -->
<!--<div class="container text-center" ng-hide="isLoading">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <h3> Search results: </h2> <br>
                    <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="results in searchResults">
                        <img ng-src="{{results.images.poster}}" height="150 " width="100px ">
                        <br> <br><a href="#shows/{{results._id}}" /> {{results.title}} ( {{results.year}}) </a>
                        <br><br>
                    </div>
            </div>
        </div>
    </div>

</div>-->

<div class="container">
    <div class="row">
        <div class="container-fluid">
            <div class="row show-details">
                <div class="col-xs-12 col-sm-6 col-md-4 show-title" ng-repeat="myShows in searchResults">
                    <!--<div class="clearfix visible-xs"></di   v>-->
                    <a href="#shows/{{myShows._id}}">
                        <div ng-class="{'show-display-box':$even,'show-display-box-1':$odd}">
                            <!--<a href="#shows/{{myShows._id}}" />-->
                            <span> <img ng-src="{{myShows.images.banner}}" height="150 " width="100px "></span>
                            <span class="show-box-title">
                                <p class="show-name">{{myShows.title}}</p> <br>
                                <p class="show-box-title-clr">First episode year: <span class="show-box-title-subclr"> {{myShows.year}} </span></p>
                            <p class="show-box-title-clr">Seasons: <span class="show-box-title-subclr"> {{myShows.num_seasons}}</span></p>

                            </span>
                        </div>
                    </a>
                </div>
                <div ng-if="searchResults.length == 0">
                    <p class="show-mr-title txt-center"> No results found.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--pending navigation for search i.e load more-->