<div class="container text-center" ng-hide="isLoading">
    <div class="row">
        <div class="container-fluid" ng-controller="tvAppCtrl">
            <div class="row">
                <h3> Search results: </h2> <br>
                    <div class="col-xs-3" ng-repeat="results in searchResults">
                        <img ng-src="{{results.images.poster}}" height="150 " width="100px ">
                        <br> <br><a href="#shows/{{results._id}}" /> {{results.title}} ( {{results.year}}) </a>
                        <br><br>
                    </div>
            </div>
        </div>
    </div>

</div>

<!--pending navigation for search -->