<div>
    <div class="container">
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="clearfix col-xs-11 visible-xs"></div>
                    <div class="col-xs-12 col-sm-6 col-md-4 show-title" ng-repeat="myShows in shows">
                        <!--<div class="clearfix visible-xs"></di   v>-->
                        <a href="#shows/{{myShows._id}}" />
                        <div ng-class="{'show-display-box':$even,'show-display-box-1':$odd}">
                            <!--<a href="#shows/{{myShows._id}}" />-->
                            <span> <img ng-src="{{myShows.images.poster}}" height="150 " width="100px ">  </span>
                            <span class="show-box-title">
                                <p class="show-name">{{myShows.title}}</p> <br>
                                <p class="show-box-title-clr">First episode year: <span class="show-box-title-subclr"> {{myShows.year}} </span></p>
                            <p class="show-box-title-clr">Seasons: <span class="show-box-title-subclr"> {{myShows.num_seasons}}</span></p>
                              
                            </span>
                        </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="row margin-15" ng-hide="isLoading">
            <!--<div class="container-fluid">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li ng-repeat="nav in showCount | limitTo:18" ng:class="{true:'active', false:''}[$index==page_no-1]">
                            <a href="#" ng-click="loadShow(nav)">{{$index+1}}</a></li>
                    </ul>
                </nav>

            </div>--> 
            <button ng-click="loadShow(page_no-1+1)" class="btn btn-green center-me">Load More</button>
        </div>
    </div>
    <!--   <div ng-repeat="myShows in shows ">
        <img ng-src="{{myShows.images.poster}} " height="100 " width="75px ">
        <a href="#shows/{{myShows._id}} "> {{myShows.title}} : {{myShows.year}} </a>
    </div>-->

</div>